streamlit==1.44.1
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.59
langchain-huggingface==0.1.2
langchain-groq==0.3.2
faiss-cpu==1.11.0
pypdf==5.4.0
sentence-transformers==4.1.0
python-dotenv==1.1.0
torch==2.7.0
transformers==4.51.3
huggingface-hub==0.31.1
